<h3>{{ _('Stromverbrauch') }}</h3>
<p>Stromverbrauch der Einzelkomponenten in Watt.</p>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Heizbett') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.stats.pcbheatbed" id="stats_pcbheatbed">
                <span class="add-on">Watt</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Extruder') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.stats.hotend" id="stats_hotend">
                <span class="add-on">Watt</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Motoren') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.stats.steppermotors" id="stats_steppermotors">
                <span class="add-on">Watt</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Lüfter und Elektronik') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.stats.eletronics" id="stats_eletronics">
                <span class="add-on">Watt</span>
            </div>
        </div>
    </div>
</form>
